[Unit]
Description=Funkwhale (__APP__) celery beat process
After=redis.service postgresql.service
PartOf=__APP__.target

[Service]
User=__APP__
# adapt this depending on the path of your funkwhale installation
WorkingDirectory=__FINALPATH__/code/api
EnvironmentFile=__FINALPATH__/code/config/.env
ExecStart=__FINALPATH__/code/virtualenv/bin/celery -A funkwhale_api.taskapp beat -l INFO

[Install]
WantedBy=multi-user.target