[Unit]
Description=Funkwhale (__APP__) application server
After=redis.service postgresql.service
PartOf=__APP__.target

[Service]
User=__APP__
# adapt this depending on the path of your funkwhale installation
WorkingDirectory=__FINALPATH__/code/api
EnvironmentFile=__FINALPATH__/code/config/.env
ExecStart=__FINALPATH__/code/virtualenv/bin/daphne -b ${FUNKWHALE_API_IP} -p ${FUNKWHALE_API_PORT} config.asgi:application --proxy-headers

[Install]
WantedBy=multi-user.target
