[Unit]
Description=Funkwhale (__APP__) application server
After=redis.service postgresql.service
PartOf=__APP__.target

[Service]
User=__APP__
# adapt this depending on the path of your funkwhale installation
WorkingDirectory=__FINALPATH__/api
EnvironmentFile=__FINALPATH__/config/.env
ExecStart=__FINALPATH__/virtualenv/bin/daphne -b ${FUNKWHALE_API_IP} -p ${FUNKWHALE_API_PORT} config.asgi:application

[Install]
WantedBy=multi-user.target
