[Unit]
Description=Funkwhale (__APP__) celery worker
After=redis.service postgresql.service
PartOf=__APP__.target

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/code/api
EnvironmentFile=__FINALPATH__/code/config/.env

ExecStart=__FINALPATH__/code/virtualenv/bin/celery -A funkwhale_api.taskapp worker -l INFO \
	--loglevel INFO --logfile=/var/log/__APP__/worker.log

#NoNewPrivileges=true
#PrivateDevices=true
#PrivateTmp=true
#ProtectHome=true
#ProtectSystem=strict
#ProtectControlGroups=yes
#ProtectKernelModules=yes
#ReadOnlyPaths=__FINALPATH__/code/config/.env __FINALPATH__/code/
#ReadWritePaths=__FINALPATH__/media __FINALPATH__/import /var/log/__APP__

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__-worker

[Install]
WantedBy=multi-user.target